# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
blinker=1.4=py36_0
ca-certificates=2020.12.8=haa95532_0
certifi=2020.12.5=py36haa95532_0
cffi=1.14.4=py36hcd4344a_0
chardet=3.0.4=pypi_0
click=6.7=pypi_0
cryptography=3.3.1=py36hcd4344a_0
flask=1.0.2=pypi_0
flask-admin=1.5.7=pyhd3eb1b0_0
flask-dance=0.14.0=pypi_0
flask-debugtoolbar=0.10.1=pypi_0
flask-ext=0.1=pypi_0
flask-login=0.4.1=pypi_0
flask-mail=0.9.1=pypi_0
flask-migrate=2.1.1=pypi_0
flask-oauth=0.12=pypi_0
flask-oauthlib=0.9.4=pypi_0
flask-pymongo=2.3.0=pypi_0
flask-sqlalchemy=2.3.2=pypi_0
flask-wtf=0.14.2=pypi_0
httplib2=0.11.3=pypi_0
idna=2.6=pypi_0
itsdangerous=0.24=pypi_0
jinja2=2.10=pypi_0
joblib=1.0.1=pypi_0
lazy=1.3=pypi_0
linker=0.1.0=pypi_0
mako=1.0.7=pypi_0
markupsafe=1.1.1=py36he774522_0
numpy=1.19.5=pypi_0
oauth2=1.9.0.post1=pypi_0
oauthlib=2.0.7=py36_0
openssl=1.1.1i=h2bbff1b_0
pandas=1.1.5=pypi_0
pip=20.3.3=py36haa95532_0
pycparser=2.20=py_2
pyjwt=1.7.1=py36_0
pymongo=3.11.3=pypi_0
python=3.6.12=h5500b2f_2
python-dateutil=2.8.1=pypi_0
python-editor=1.0.3=pypi_0
pytz=2020.5=pypi_0
requests=2.18.4=pypi_0
requests-oauthlib=0.8.0=pypi_0
scikit-learn=0.24.1=pypi_0
scipy=1.5.4=pypi_0
setuptools=51.1.2=py36haa95532_3
six=1.11.0=pypi_0
sklearn=0.0=pypi_0
sqlalchemy=1.2.6=pypi_0
sqlalchemy-utils=0.33.2=pypi_0
sqlite=3.33.0=h2a8f88b_0
threadpoolctl=2.1.0=pypi_0
urllib3=1.22=pypi_0
urlobject=2.4.3=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
werkzeug=0.14.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
wincertstore=0.2=py36h7fe50ca_0
wtforms=2.1=pypi_0
zlib=1.2.11=h62dcd97_4
