@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, rgb(243, 152, 116), #eeb6a4);
    --light-gray: rgba(255, 255, 255, 0.877);
    /* --bggradient1: linear-gradient(to bottom, #e63085, #eb9a7a);
  --bggradient2: linear-gradient(to bottom, #36fac9, #97eeb1); */
}

header a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
    text-align: right;
}

header .nav-link:hover {
    color: rgb(8, 8, 8);
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-5 img {
    width: 90%;
}

header {
    background: #ff512f;
    /* fallback for old browsers */
    background: var(--bggradient);
}

header .container .col-md-7 {
    font-family: "Rubik", sans-serif;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}

.btn {
    background: #e6a328;
    text-transform: uppercase;
    padding: 27px 44px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    line-height: 1;
    -moz-user-select: none;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
}

@media (max-width: 575px) {
    .btn {
        padding: 22px 24px;
        font-size: 16px;
    }
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #e9855a;
    z-index: 1;
    border-radius: 0;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0;
}

.btn:hover::before {
    transform: scaleX(1);
    color: rgb(14, 1, 1) !important;
    z-index: -1;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}


/********** section 1 **************/

.section-1 {
    padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}


/*  Section 2  */

.cover {
    width: 100%;
    height: 55vmin;
    background: url("../assets/pexels-photo-452738.jpeg");
    background-position: -24rem -19rem;
    background-size: 150%;
    position: relative;
}

.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.cover .content {
    width: 100%;
    height: 100%;
    background: rgba(124, 7, 7, 0.7);
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;
}

.numbers .rect>p {
    font-family: var(--Patua);
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4em 2.5em;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card-body .pricing {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .pricing>h1 {
    font-size: 5vmin;
    padding: 1em 0.5em;
}


/* ------------------------------------------------------------------------ */

.header-area .header-sticky.sticky-bar .menu-wrapper .header-left .logo {
    display: none !important;
}

.header-area .header-sticky.sticky-bar .menu-wrapper .header-left .logo2 {
    display: block;
}

.header-area .menu-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header-area .menu-wrapper .logo {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .header-area .menu-wrapper .logo img {
        width: 165px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .menu-wrapper .logo img {
        width: 148px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .menu-wrapper .logo img {
        width: 120px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .menu-wrapper .logo img {
        width: 100px;
    }
}

@media (max-width: 575px) {
    .header-area .menu-wrapper .logo img {
        width: 100px;
    }
}

.header-area .menu-wrapper .logo2 {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 15px;
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .menu-wrapper .logo2 img {
        width: 53px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .menu-wrapper .logo2 img {
        width: 53px;
    }
}

@media (max-width: 575px) {
    .header-area .menu-wrapper .logo2 img {
        width: 53px;
    }
}


/* section nav for gvt priv */

.properties .nav-tabs {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    border: 0;
    display: flex;
    justify-content: center;
}

.properties .nav-tabs::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #e7ebf2;
    bottom: 37px;
    left: 0;
}

@media (max-width: 575px) {
    .properties .nav-tabs::before {
        position: unset;
        background: 0 0;
    }
}

.properties .nav-tabs .nav-item {
    margin-bottom: 37px;
    display: block;
    color: #010a44;
    text-transform: capitalize;
    font-size: 15px;
    padding: 20px 28px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .properties .nav-tabs .nav-item {
        padding: 18px;
    }
}

@media (max-width: 575px) {
    .properties .nav-tabs .nav-item {
        padding: 18px;
        margin: 0;
    }
}

.properties .nav-link {
    border: 0;
    border-bottom: 2px solid transparent;
}

.properties .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #cc4d04 !important;
    background-color: #fff;
    border-bottom: 2px solid #ff0909;
    z-index: 9;
    position: relative;
}


/* Section 3 */

.section-3 {
    height: 60vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}

.section-3 .desktop p {
    font-size: 2vmin;
}


/* section 5 start */

.section-5 {
    height: 50vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-5 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-5 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-5 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-5 .desktop h3 {
    font-size: 4vmin;
}

.section-5 .desktop p {
    font-size: 2vmin;
}


/* section 5 */


/* Section Team */

.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22em;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card-body>a {
    font-size: 1.5em;
}

.section-4 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}


/* govt1 */

.site-section {
    padding: 2.5em 0;
}

@media (min-width: 768px) {
    .site-section {
        padding: 5em 0;
    }
}

.site-section.site-section-sm {
    padding: 4em 0;
}

.site-section-heading {
    padding-bottom: 20px;
    margin-bottom: 0;
    position: relative;
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .site-section-heading {
        font-size: 3rem;
    }
}


/* It is Adjacent sibling combinator */

footer .column i+i {
    padding: 0 0.5em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(233, 121, 121);
    z-index: 9999;
    transition: all 1.5s ease;
}

.signbutton {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #d1e292;
    border: 0.5px solid black;
    transition: background-color 1s;
    text-align: center;
    margin: auto;
}

.signbutton:hover {
    background-color: #89cc32;
}

.joinbutton {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #a8d9e6;
    border: 0.5px solid black;
    transition: background-color 1s;
    text-align: center;
    margin: auto;
}

.joinbutton:hover {
    background-color: #52a4ca;
}