<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Womanistic</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/mobile.css" />
    <link rel="stylesheet" href="../static/css/style.css" />



</head>

<body>
    <header>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="#">

                    <a><img src="../static/img/LogoMakr-7pK69k.png" alt="" height="75px" width="150px"></a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-right text-light"></i>
          </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="mr-auto"></div>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">HOME
                  <span class="sr-only">(current)</span>
                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#nav-govt">SERVICES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#footer">CONTACT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">ABOUT</a>
                            </li>
                        </ul>
                    </div>
            </nav>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-7 col-sm-12  text-white">

                    <h1>Let's empower the WOMEN</h1>
                    <h1>and develop the nation !</h1>
                    <p>
                        #BuildForWomen
                    </p>
                    <button class="btn btn-light px-5 py-2 primary-btn">
            <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
              <a href="#nav-govt" class="btn hero-btn">Services</a>
            </div>
          </button>
                </div>
                <div class="col-md-5 col-sm-12  h-25">
                    <img src="../static/img/startpage women pic.jpg" alt="government" />
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section-1" id="about">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="pray">
                            <img src="../static/img/pexels-karolina-grabowska-4467687.jpg" alt="Pray" class="" />
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="panel text-left">
                            <h1>ABOUT US</h1>
                            <p class="pt-4">
                                We at Womenistic believe in women having equal opportunities as others in the field of startups.Our mission doesn't just end with providing women with information about the financial and research based help to boost their startup journey.
                            </p>
                            <p>
                                We alo believe in connecting women with other enthusiastic,passionate and driven women entrepreneurs to create a wholesome women community to uplift other women and to share their incredible inspiring stories.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-2 container-fluid p-0">
            <div class="cover">
                <div class="overlay"></div>
                <div class="content text-center">
                    <h1>Women that got help from us</h1>
                    <p>
                        #HappyWomen
                    </p>
                </div>
            </div>
            <div class="container-fluid text-center">
                <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                    <div class="rect">
                        <h1>56</h1>
                        <p>Happy Women</p>
                    </div>
                    <div class="rect">
                        <h1>25</h1>
                        <p>Advertisements</p>
                    </div>
                    <div class="rect">
                        <h1>12</h1>
                        <p>Startup</p>
                    </div>

                </div>
            </div>


            <section class="properties new-arrival fix">
                <div class="container">

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="properties__button text-center">

                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-govt-tab" data-toggle="tab" href="#nav-govt" role="tab" aria-controls="nav-govt" aria-selected="true">GOVERNMENT</a>
                                        <a class="nav-item nav-link" id="nav-priv-tab" data-toggle="tab" href="#nav-priv" role="tab" aria-controls="nav-priv" aria-selected="false">INCUBATION CENTER</a>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>





                    <div class="row">

                        <div class="tab-content" id="nav-tabContent">

                            <div class="tab-pane fade show active" id="nav-govt" role="tabpanel" aria-labelledby="nav-govt-tab">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="single-new-arrival mb-50 text-center">
                                            <div class="popular-img">
                                                <img src="../static/img/govt1.png" alt="" width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href="/govt1">1) Access to 3000 MSME Women Entrepreneurs to GeM</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6 ">
                                        <div class="single-new-arrival mb-50 text-center ">
                                            <div class="popular-img ">
                                                <img src="../static/img/govt2.png " alt=" " width="150px " height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href="/govt2">2] The Cent Kalyani Scheme</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/govt3.png " alt=" " width=" 150px " height=" 150px ">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href="/govt3">3. Mudra Yojana Scheme For Women</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/govt4.png " alt=" " width=" 150px " height=" 150px ">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /govt4 ">4]  Orient Mahila Vikas Yojana scheme</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/govt5.png " alt=" " width=" 150px " height=" 150px ">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href="/govt5">5] Bhartiya Mahila Bank Business Loan</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/govt6.png " alt=" " width=" 150px " height=" 150px ">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href="/govt6">6] Stree Shakti Package For Women Entrepreneurs </a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/govt7.png " alt=" " width=" 150px " height=" 150px ">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href="/govt7">7] Support to training and employment programme(STEP) for women</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/govt8.png " alt=" " width=" 150px " height=" 150px ">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /govt8 ">8] Pradhan Mantri Kaushal Vikas Yojana</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/govt9.jpg " alt=" " width=" 150px " height=" 150px ">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /govt9 ">9] Skill India Scheme</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" tab-pane fade " id="nav-priv" role=" tabpanel " aria-labelledby="nav-priv-tab">
                                <div class=" row ">
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src="../static/img/incu1.jpg" alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb1 ">1] Atal Incubation Centre (Goa Institute of Management)</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src="../static/img/incu2.png" alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb2 ">2] Virtual Incubation Program for Women Entrepreneurs (VIP-WE) by startupindia</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/incu3.jpg " alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb3 ">3] CIBA</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/incu4.jpg " alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb4 ">4] MEWO : COWORK NEST</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/incu5.jpg " alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb5 ">5] 91Springboard</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/incu6.png " alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb6 ">6] Forum for Innovation Incubation Research & Entrepreneurship</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/incu7.jpg " alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb7 ">7] IGNITE – EDC Innovation hub</a></h3>
                                            </div>
                                        </div>
                                    </div>

                                    <div class=" col-lg-4 col-md-6 col-sm-6 ">
                                        <div class=" single-new-arrival mb-50 text-center ">
                                            <div class=" popular-img ">
                                                <img src=" ../static/img/incu8.jpg " alt=" " width="150px" height="150px">
                                            </div>
                                            <div class=" popular-caption ">
                                                <h3><a href=" /incb8 ">8] BITS BIRAC BIONEST</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
            </section>




            <div class=" purchase text-center ">
                <br> <br>
                <h2 style=" font-family: Arial, Helvetica, sans-serif; ">Press more to PREDICT your startup capital</h2>
                <p>
                    *Predictions based on general sources
                </p>
                <div class=" cards ">
                    <div class=" d-flex flex-row justify-content-center flex-wrap ">
                        <div class=" card ">
                            <div class=" card-body ">
                                <div class=" title ">
                                    <h5 class=" card-title ">KNOW YOUR PREDICTION</h5>
                                </div>
                                <p class=" card-text ">

                                </p>
                                <div class=" pricing ">
                                    <h1>INVESTMENT </h1>
                                    <a href=" /investment " class=" btn btn-dark px-7 py-2 primary-btn mb-5 ">MORE</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Section 4 -->
            <section class=" section-4 ">
                <div class=" container text-center ">
                    <h1 class=" text-dark ">ADVERTISE YOUR STARTUP</h1>
                    <p class=" text-secondary ">Let others know more about your incredible startup!</p>
                </div>
                <div class=" team row ">
                    <div class=" col-md-4 col-12 text-center ">
                        <div class=" card mr-2 d-inline-block shadow-lg ">
                            <div class=" card-img-top ">

                            </div>
                            <div class=" card-body ">
                                <img src="http://thinkgeekmedia.com/wp-content/uploads/2017/10/6c5ef41c-7939-411a-8142-7359e076d11a.png" alt="" height="150px" width="150px">
                                <h3 class=" card-title ">THINK GEEK MEDIA</h3>
                                <p class=" card-text ">
                                    An award winning Lifestyle Media , PR, Content and Communications company based in Goa,Mumbai and Malaysia. Verticals: Lifestyle,Travel, Fashion,Luxury.
                                </p>

                                <h5>Ethel De Costa</h5>
                                <p class=" text-black-50 ">Founder</p>
                                <a href=" http://thinkgeekmedia.com/ " class=" text-secondary text-decoration-none ">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-12 text-center">
                        <div class=" card mr-2 d-inline-block shadow-lg ">
                            <div class=" card-img-top ">

                            </div>

                            <div class=" card-body ">
                                <img src="https://goagowomania.com/wp-content/uploads/2021/02/download-7-e1610638670514-removebg-preview.png " alt=" " height="150px " width="150px ">
                                <h3 class=" card-title ">GOWOMANIA GOA</h3>
                                <p class=" card-text ">
                                    An initiative by a group of women entrepreneurs to provide a social platform encourage,guide and build a support system for aspiring women entrepreneurs.With simple buy-sell model,the platform provides easy access to buyers to purchase products.
                                </p>
                                <h5>Siya Shaikh</h5>
                                <p class=" text-black-50 ">Founder</p>
                                <a href=" https://goagowomania.com/ " class=" text-secondary text-decoration-none ">Know more</a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4 col-12 text-center ">
                        <div class=" card mr-2 d-inline-block shadow-lg ">
                            <div class=" card-img-top ">

                            </div>
                            <div class=" card-body ">
                                <img src="http://www.dessertsnmore.co.in/images/logo.png " alt=" " height="150px " width="150px ">
                                <h3 class=" card-title ">DESSERTS AND MORE</h3>
                                <p class=" card-text ">
                                    DESSERTS N MORE serves an array of products comprising delicious cupcakes, brownies, pastries, savouries,althy wheat cakes and cookies.
                                </p>
                                <h5>Pallavi Salgaoncar</h5>
                                <p class=" text-black-50 ">Founder</p>
                                <a href=" http://www.dessertsnmore.co.in/ " class=" text-secondary text-decoration-none ">Know more</a>
                            </div>
                        </div>
                    </div>


                </div>




            </section>
            <!-- --------------------------- -->
        </section>
        <section class=" section-3 container-fluid p-0 text-center ">
            <div class=" row ">
                <div class=" col-md-12 col-sm-12 ">
                    <h1>SIGN UP TO ADVERTISE YOUR STARTUP NOW AND MAKE YOUR BUSINESS KNOWN WORLDWIDE FOR FREE!</h1>

                </div>
            </div>
            <div class=" platform row ">
                <a href="/ads">
                    <button class=" signbutton ">SIGN UP</button>
                </a>
            </div>
        </section>


        <!-- story section -->
        <section class=" section-4 ">
            <div class=" container text-center ">
                <h1 class=" text-dark ">Inspiring Stories</h1>
            </div>
            <div class=" team row ">
                <div class=" col-md-4 col-12 text-center ">
                    <div class=" card mr-2 d-inline-block shadow-lg ">
                        <div class=" card-img-top ">
                            <img src=" ../static/img/limeroad.jpg " class=" img-fluid border-radius p-4 " alt=" ">
                        </div>
                        <div class=" card-body ">
                            <h3 class=" card-title ">Suchi Mukherjee</h3>

                            <p class=" text-black-50 ">Founder of Limeroad</p>
                            <a href="/limeroad"><button type="button " class="btn btn-outline-dark ">Read More</button></a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-12 ">
                    <div id=" carouselExampleControls " class=" carousel slide " data-ride=" carousel ">
                        <div class=" carousel-inner text-center ">
                            <div class=" carousel-item active ">
                                <div class=" card mr-2 d-inline-block shadow ">
                                    <div class=" card-img-top ">
                                        <img src=" ../static/img/zimave.jpg " class=" img-fluid rounded-circle w-50 p-4 " alt=" ">
                                    </div>
                                    <div class=" card-body ">
                                        <h3 class=" card-title ">Richa Kar</h3>
                                        <p class=" text-black-50 ">Founder of Zivame</p>
                                        <a href="/zivame"><button type="button " class="btn btn-outline-dark ">Read More</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class=" carousel-item ">
                                <div class=" card d-inline-block mr-2 shadow ">
                                    <div class=" card-img-top ">
                                        <img src=" ../static/img/UI-face-2.jpg " class=" img-fluid rounded-circle w-50 p-4 " alt=" ">
                                    </div>
                                    <div class=" card-body ">
                                        <h3 class=" card-title ">{{name2}}</h3>
                                        <p class=" card-text ">
                                            {{content2}}</p>
                                        <p class=" text-black-50 ">{{exp2}}</p>
                                        <a href="#"><button type="button " class="btn btn-outline-dark ">Read More</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4 col-12 text-center ">
                    <div class=" card mr-2 d-inline-block shadow-lg ">
                        <div class=" card-img-top ">
                            <img src=" ../static/img/vlcc.jpg " class=" img-fluid border-radius p-4 " alt=" ">
                        </div>
                        <div class=" card-body ">
                            <h3 class=" card-title ">Vandana Luthra</h3>
                            <p class=" text-black-50 ">Founder of VLCC</p>
                            <a href="/vlcc"><button type="button " class="btn btn-outline-dark ">Read More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <!-- -------------------------------------------- -->
        </section>
        <section class=" section-5 container-fluid p-0 text-center ">
            <div class=" row ">
                <div class=" col-md-12 col-sm-12 ">
                    <h1>INSPIRE OTHERS WITH YOUR INCREDIBLE STARTUP JOURNEY! JOIN US</h1>

                </div>
            </div>
            <div class=" platform row ">
                <a href="/joinus">
                    <button class=" joinbutton ">JOIN US</button></a>
            </div>
        </section>

        <!-- -------------------------- -->

    </main>
    <footer id='footer'>
        <div class=" contact " id=" cont ">
            <div class=" container-fluid p-0 ">
                <div class=" row text-left ">
                    <div class=" col-md-5 col-sm-5 ">
                        <h4 class=" text-light ">About us</h4>
                        <p class=" text-muted ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum maxime ea similique illum corrupti</p>
                        <p class=" pt-4 text-muted ">Copyright ©2019 All rights reserved | This is made with by
                            <span> SEIG</span>
                        </p>
                    </div>
                    <div class=" col-md-5 col-sm-12 ">
                        <h4 class=" text-light ">Newsletter</h4>
                        <p class=" text-muted ">Stay Updated</p>
                        <form class=" form-inline ">
                            <div class=" col pl-0 ">
                                <div class=" input-group pr-5 ">
                                    <input type=" text " class=" form-control bg-dark text-white " id=" inlineFormInputGroupUsername2 " placeholder=" Email ">
                                    <div class=" input-group-prepend ">
                                        <div class=" input-group-text ">
                                            <i class=" fas fa-arrow-right "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class=" col-md-2 col-sm-12 ">
                        <h4 class=" text-light ">Follow Us</h4>
                        <p class=" text-muted ">Let us be social</p>
                        <div class=" column text-light ">
                            <i class=" fab fa-facebook-f "></i>
                            <i class=" fab fa-instagram "></i>
                            <i class=" fab fa-twitter "></i>
                            <i class=" fab fa-youtube "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity=" sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin=" anonymous "></script>
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity=" sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin=" anonymous "></script>
    <script src=" ../static/main.js "></script>
</body>

</html>
<div class=" card mr-2 d-inline-block shadow-lg ">